* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #31343d;
}

.name-block h1 {
  color: #31343d;
  margin-left: 5rem;
  padding-right: 10px;
}

/* keep the name and the menu in the same row */
.name-block {
  display: inline-block;
  background-color: #92cccd;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-banner {
  height: 10em;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.cool-subtitle h2 {
  background-color: #92cccd;
  float: right;
  margin-right: 2rem;
}

/* move the menu to the right */
.topnav {
  float: right;
  margin-right: 3rem;
}

/* change the menu to horizontal */
ul li {
  display: inline;
}

/* remove the menu bullet point */
ul {
  list-style-type: none;
}

.about-me-content p{
  font-size: medium;
}

.menu {
  color: #92cccd;
  border-bottom: 3px solid #92cccd;
  padding-bottom: 2px;
  text-decoration: none;
  padding: 6px;
}

.page-section {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  margin-left: 3rem;
  margin-top: 2rem;
}

/* About Me CSS */
.page-section h2 {
  box-sizing: border-box;
  color: #445877;
  font-size: 40px;
  width: 10rem;
  text-align: right;

}

.page-divider {
  border-left: 3px solid #445877;
  margin-right: 1rem;
  margin-left: 1rem;
}

.page-grid {
  display: grid;
  grid-gap: 1rem;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-areas:
    "topRow topRow"
    "topRow topRow"
    "left1 right1"
    "left2 right2";
}

@media (max-width: 600px) {
  .page-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "topRow"
      "topRow"
      "left1"
      "right1"
      "left2"
      "right2";
  }
}
.project1-flex-item {
  grid-area: topRow;
}

.project2-flex-item {
  grid-area: left1;
}

.project3-flex-item {
  grid-area: right1;
}

.project4-flex-item {
  grid-area: left2;
}

.page-grid img {
  object-fit: cover;
  width: 100%;
  /* height: 15rem; */
  height: 150px;
}

.image-container .portfolio1{
  height: 250px;
  /* height: 25rem; */
}

.text-bottom-left {
  position: absolute;
  bottom: 8px;
}

.image-container {
  position: relative;
  text-align: left;
  color: #31343d;
}

.image-container h3{
  background-color: #92cccd;
  padding: 16px;
}

.image {
  border: 3px solid #92cccd;
}

.content-me {
  width: 80%;
}

.content-me ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.content-me ul li {
  display: inline;
}

.contact-details {
  color: #445877;
  border-bottom: 3px solid #445877;
  padding-bottom: 2px;
  text-decoration: none;
  padding: 6px;
}



/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*/
p {
  margin: 0;
  font-size: small;
} 